
# EXTERNAL CRYSTAL CLOCK
NET CLK LOC="A10" | IOSTANDARD=LVTTL;
NET CLK PERIOD = 20 ns;

# VGA SIGNAL
NET RED<0> LOC="A14" | IOSTANDARD=LVTTL | SLEW= FAST;
NET RED<1> LOC="B14" | IOSTANDARD=LVTTL | SLEW= FAST;
NET RED<2> LOC="C13" | IOSTANDARD=LVTTL | SLEW= FAST;
NET RED<3> LOC="A13" | IOSTANDARD=LVTTL | SLEW= FAST;

NET GREEN<0> LOC="B12" | IOSTANDARD=LVTTL | SLEW= FAST;
NET GREEN<1> LOC="A12" | IOSTANDARD=LVTTL | SLEW= FAST;
NET GREEN<2> LOC="C11" | IOSTANDARD=LVTTL | SLEW= FAST;
NET GREEN<3> LOC="A11" | IOSTANDARD=LVTTL | SLEW= FAST;

NET BLUE<0> LOC="B10" | IOSTANDARD=LVTTL | SLEW= FAST;
NET BLUE<1> LOC="A9"  | IOSTANDARD=LVTTL | SLEW= FAST;
NET BLUE<2> LOC="C9"  | IOSTANDARD=LVTTL | SLEW= FAST;
NET BLUE<3> LOC="A8"  | IOSTANDARD=LVTTL | SLEW= FAST;

NET HSYNC LOC="B8" | IOSTANDARD=LVTTL | SLEW= FAST;
NET VSYNC LOC="A7" | IOSTANDARD=LVTTL | SLEW= FAST;

# SPI COMMUNICATION
NET CS   LOC="E12" | IOSTANDARD=LVTTL | SLEW= FAST;
NET MOSI LOC="E13" | IOSTANDARD=LVTTL | SLEW= FAST;
NET SCLK LOC="J14" | IOSTANDARD=LVTTL | SLEW= FAST;
NET SCLK PERIOD = 1000 ns;